# SPDX-FileCopyrightText: © 2021, 2024 Alexandros Theodotou
# SPDX-License-Identifier: FSFAP
---
# prefix with '-' to disable checks
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -llvm-include-order,
  -clang-diagnostic-unused-parameter,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-magic-numbers,
  -readability-identifier-naming,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-redundant-access-specifiers,
  -modernize-use-nodiscard
  -modernize-use-trailing-return-type
WarningsAsErrors: >
  bugprone-undelegated-constructor,
  bugprone-string-constructor,
  modernize-use-override,
  readability-redundant-declaration,
  readability-redundant-inline-specifier,
  modernize-use-constraints,
  cppcoreguidelines-pro-type-member-init,
  readability-redundant-string-cstr,
  clang-diagnostic-reorder-ctor,
  clang-analyzer-deadcode.DeadStores,
  cppcoreguidelines-pro-type-static-cast-downcast
FormatStyle: file
CheckOptions:
  - key: cert-dcl16-c.NewSuffixes
    value: 'L;LL;LU;LLU'
  - key: bugprone-argument-comment.StrictMode
    value: '1'
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: '1'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
HeaderFilterRegex: '.*(ext|dsp\\/vamp-ports|glibmm).*$'
...
