# SPDX-FileCopyrightText: © 2021, 2024 Alexandros Theodotou
# SPDX-License-Identifier: FSFAP
---
# use '-' to disable checks
Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -llvm-include-order,
  -clang-diagnostic-unused-parameter,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes
  -cppcoreguidelines-pro-type-member-init
WarningsAsErrors: ''
FormatStyle:     none
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key: bugprone-argument-comment.StrictMode
    value: '1'
...
