# SPDX-FileCopyrightText: © 2024 Alexandros Theodotou
# SPDX-License-Identifier: FSFAP
---
Diagnostics:
  ClangTidy:
    Add: [performance-*, modernize-*]
    Remove: [modernize-use-trailing-return-type, performance-unnecessary-value-param, modernize-use-nodiscard]
CompileFlags:
  Add: [-ferror-limit=150]