#  Copyright (C) 2020 Alexandros Theodotou <alex at zrythm dot org>
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

# add vendored paths
ext/** linguist-vendored
doc/dev/m.css/** linguist-vendored
data/fonts/** linguist-vendored
resources/theme/Matcha-dark-sea/** linguist-vendored
resources/icons/breeze-icons/** linguist-vendored
resources/icons/ext/** linguist-vendored
resources/icons/fatcow/** linguist-vendored
resources/icons/font-awesome/** linguist-vendored
resources/icons/fork-awesome/** linguist-vendored
resources/icons/gnome-builder/** linguist-vendored

inc/**/*.h linguist-language=C
