accessible-pygments==0.0.5
alabaster==1.0.0
babel==2.18.0
beautifulsoup4==4.14.3
boto3==1.42.75
botocore==1.42.75
certifi==2026.2.25
cfgv==3.5.0
charset-normalizer==3.4.6
click==8.3.1
cmake==4.3.0
cmakelang==0.6.13
compdb==0.2.0
distlib==0.4.0
docutils==0.22.4
filelock==3.25.2
furo==2025.12.19
gprof2dot==2025.4.14
identify==2.6.18
idna==3.11
imagesize==2.0.0
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
ninja==1.13.0
nodeenv==1.10.0
packaging==26.0
platformdirs==4.9.4
pre_commit==4.5.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-discovery==1.2.0
PyYAML==6.0.3
requests==2.32.5
roman-numerals==4.1.0
s3transfer==0.16.0
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8.3
Sphinx==9.1.0
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx-intl==2.3.2
sphinx-prompt==1.10.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-svg2pdfconverter==2.1.0
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.2.0
