test_doxygen/*/html/
test_doxygen/*/xml/
test_doxygen/layout_generated_doxyfile/Doxyfile
!test_doxygen/layout_generated_doxyfile/xml/
node_modules/
package-lock.json
test_doxygen/package-lock.json
test_python/*/output/
test_python/build*
test_python/**/*.so
