@define-color bg_color #2D2D2D;
@define-color bg_dark_variant1 #262626;
@define-color bg_dark_variant2 #1F1F1F;
@define-color bg_darker_variant1 #202020;
@define-color bg_darker_variant2 #121212;
@define-color bg_light_variant1 #3A3A3A;
@define-color bg_light_variant2 #343434;
@define-color bg_lighter_variant1 #444444;
@define-color bg_lighter_variant2 #393939;
@define-color dark_variant1 #000000;
@define-color dark_variant2 #030202;
@define-color light_variant1 #656464;
@define-color light_variant2 #989797;
@define-color bright_green #1DDD6A;
@define-color dark_orange #D68A0C;
@define-color z_yellow #F9CA1B;
@define-color bright_orange #F79616;
@define-color z_purple #9D3955;
@define-color hover_color alpha (white, 0.1);
@define-color selection_color alpha (white, 0.07);
/* see https://coolors.co/ to generate more */

window
{
  -GtkWidget-window-dragging: true;
}

/*paned separator {*/
  /*background-color: alpha(white, 0.80);*/
/*}*/

/*paned separator:hover {*/
  /*background-color: alpha (white, 0.40);*/
/*}*/

/*paned#gpaned-instruments separator {*/
  /*background-color: alpha(white, 0.22);*/
/*}*/

/*#gpaned-instruments separator:hover {*/
  /*background-color: alpha (white, 0.40);*/
/*}*/
treeview.view
{
  background-color: @bg_darker_variant1;
}

entry:focus
{
  border-color: @bright_orange;
}

entry selection
{
  background-color: @z_yellow;
}

treeview.view:hover
{
  background-color: @bg_light_variant1;
}

treeview.view:selected
{
  background-color: @z_purple;
}

/* notebook page background */
notebook stack
{
  background-color: @bg_color;
}

tracklist,
ruler,
piano-roll-labels,
window
{
background-color: @bg_dark_variant1;
}

left-dock-edge notebook header,
right-dock-edge notebook header,
bot-dock-edge notebook header,
center-dock-bot-box,
center-dock-bot-box toolbar,
tracklist-header,
top-dock-edge,
top-dock-edge toolbar,
top-bar,
top-bar toolbar,
bot-bar,
bot-bar toolbar,
assistant
{
background-color: @bg_dark_variant2;
}

header-bar,
menubar
{
  background-color: @bg_darker_variant2;
}

button.toggle,
button.popup,
button:not(.flat),
entry
{
  background-color: @bg_light_variant2;
}

button.toggle:hover,
button.popup:hover,
button:hover,
button.flat:hover,
button.text-button:hover
{
  background-color: @bg_lighter_variant1;
}

menu
{
  background-color: @bg_lighter_variant2;
}

button.toggle:checked,
menuitem:hover
{
  background-color: @dark_orange;
}

button.toggle:active
{
  background-color: @bright_orange;
}

button:not(.toggle):active,
button.flat:not(.toggle):active,
button.text-button:active
{
  background-color: @bright_orange;
}

bot-dock-edge toolbar
{
  background-color: @bg_dark_variant2;
}

arranger-bg
{
background-color: @bg_darker_variant1;
}

track:selected,
region:selected
{
  background-color: @selection_color;
}

track:hover,
region:hover
{
  background-color: @hover_color;
}
