[Desktop Entry]
Name=Zrythm
Version=1.0
Comment=Music Production System
Exec=zrythm
Icon=z.svg
Type=Application
StartupNotify=true
Categories=AudioVideo;DAW;Audio
