#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	./autogen.sh
	./configure --prefix=/user --enable-release
	$(MAKE)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/zrythm PREFIX=/usr
