# SPDX-FileCopyrightText: © 2019 Alexandros Theodotou <alex@zrythm.org>
# SPDX-License-Identifier: LicenseRef-ZrythmLicense
#
# project-specific constants

readonly UPSTREAM_NAME='zrythm'
readonly REMOTE_NAME='origin'
readonly STAGING_BRANCH='staging'
readonly PACKAGING_BRANCH='packaging'
readonly GIT_CLEAN_OPTIONS='-dx --force -e git-packaging-hooks'
readonly N_MAKE_JOBS=42
readonly LOG_FILE=../gbp-buildlog
