# project-specific constants
#
# NOTE: packaging is strongly coupled to the upstream tarball URL and naming schemes - e.g.
#         TARBALL_FILE:      ${VERSION_STRING}.tar.gz
#         TARBALL_INNER_DIR: ${UPSTREAM_NAME}-${VERSION}/
#         DEB_TARBALL_FILE:  ${DEBIAN_NAME}_${VERSION}.orig.tar.gz
#         DEB_DIFFBALL_FILE: ${DEBIAN_NAME}_${VERSION}-1.diff.gz

readonly GITLAB_LOGIN='gitlab-username'
readonly GITLAB_AUTH_TOKEN='gitlab-auth-token'
readonly OBS_LOGIN='obs-username'
readonly UPSTREAM_NAME='zrythm'
readonly OBS_NAME=$UPSTREAM_NAME
readonly DEBIAN_NAME=$UPSTREAM_NAME
readonly REMOTE_NAME='origin'
readonly STAGING_BRANCH='staging'
readonly PACKAGING_BRANCH='packaging'
readonly OBS_DIRNAME='obs'
readonly OSC_DIR=/opt/oscbuild/user/home:${OBS_LOGIN}/${OBS_NAME}
readonly BUG_URL=https://git.zrythm.org/zrythm/zrythm/issues
readonly CHANGELOG_MESSAGE='updated to new upstream version'
readonly GIT_CLEAN_OPTIONS='-dx --force -e git-packaging-hooks'
readonly N_MAKE_JOBS=42
readonly LOG_FILE=../gbp-buildlog
