[Desktop Entry]
Name=Zrythm
Version=1.0
Comment=Music production system
Exec=zrythm
Icon=zrythm
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Sequencer;
