[Desktop Entry]
Name=Zrythm
Version=0.4
Comment=An highly automated, intuitive, Digital Audio Workstation (DAW)
Exec=zrythm
Icon=zrythm
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Sequencer;
