*~
*.a
*.cdbs-orig
*.dll
*.dylib
*.exe
*.la
*.o
*.so
*.so.*

*.lv2
*.make
*.make-e
object_script.*.Debug
object_script.*.Release

.directory
.fuse*
.svn
.*.kate-swp
.DS_Store
.kdev_include_paths
.kdev4

bin/lv2
bin/vst
debian
intermediate
lv2_ttl_generator

scripts/*.h

sdks/ASIOSDK2/*
sdks/vstsdk2.4/*
sdks/VST3SDK/*

_old
ports/_todo

libs/juce/source/.gitignore
libs/juce/source/.github
libs/juce/source/ChangeList.txt
libs/juce/source/amalgamation/
libs/juce/source/docs/
libs/juce/source/examples/
libs/juce/source/extras/
libs/juce/source/juce.h
libs/juce/source/juce_amalgamated.cpp
libs/juce/source/juce_amalgamated.h
libs/juce/source/juce_amalgamated.mm
libs/juce/source/BREAKING-CHANGES.txt
libs/juce/source/README.md
libs/juce/source/doxygen/
libs/juce/source/modules/JUCE Module Format.txt
libs/juce/source/modules/juce_blocks_basics/
libs/juce/source/modules/juce_box2d/
libs/juce/source/modules/juce_browser_plugin_client/
libs/juce/source/modules/juce_dsp/
libs/juce/source/modules/juce_opengl/
libs/juce/source/modules/juce_osc/
libs/juce/source/modules/juce_product_unlocking/
libs/juce/source/modules/juce_video/
