/*
 * SPDX-FileCopyrightText: © 2018-2022 Alexandros Theodotou <alex@zrythm.org>
 * SPDX-License-Identifier: LicenseRef-ZrythmLicense
 */

@import '_palette';

/* override adwaita colors */
$accent_color: $dark_orange;
$accent_bg_color: $bright_orange;
@define-color accent_color #{$accent_color};
@define-color accent_bg_color #{$accent_bg_color};

paned {
  > separator {
    min-height: 4px;
  }
}

.plugin-browser separator:hover,
.file-browser separator:hover
{
  background-color: $hover_color;
}

.plugin-browser separator,
.file-browser separator
{
  min-height: 6px;
}

entry selection,
:not(.sourceview) > text selection
{
  color: $bg_lighter_variant1;
  background-color: $z_yellow;
}

treeview.view:hover,
listview row:hover,
columnview row:hover,
list row:hover
{
  background-color: $hover_color;
}

/*
scrollbar,
box.sidebar,
filechooser list {
  background-color: $hover_color;
}
*/

progressbar > trough > progress {
  background-color: $z_purple;
}

treeview.view:selected,
listview row:selected,
columnview row:selected,
list row:selected
{
  background-color: $z_purple;
}

/* notebook page background */
notebook stack
{
  background-color: $bg_color;
}

tracklist,
ruler,
piano-roll-labels,
window,
filechooser #pathbarbox,
paned {
  background-color: $bg_dark_variant1;
}

left-dock-edge notebook header,
right-dock-edge notebook header,
bot-dock-edge notebook header,
notebook header,
center-dock-bot-box,
center-dock-bot-box .toolbar,
tracklist-header,
top-dock-edge,
top-dock-edge .toolbar,
top-bar,
top-bar .toolbar,
bot-bar,
bot-bar .toolbar,
assistant,
buttonbox,
timeline-selection-info,
.timeline-toolbar,
piano-roll-selection-info,
piano-roll-toolbar,
.plugin-browser .toolbar,
.file-browser .toolbar,
bot-dock-edge .toolbar,
bot-dock-edge .toolbar > stack,
dialog
{
  background-color: $bg_dark_variant2;
}

.header tabs,
.header header,
.header .toolbar,
.header > box,
home-toolbar,
project-toolbar,
view-toolbar,
help-toolbar,
menubar
{
  background-color: $bg_darker_variant2;
}

.linked > button {
  margin-left: 0px;
}

button {
  /* override button size from theme */
  min-width: 4px;
  min-height: 4px;

  &.toggle:hover,
  &.popup:hover,
  &:hover,
  &.flat:hover,
  &.text-button:hover {
    background-color: $bg_lighter_variant1;
  }

  &:not(.toggle):active,
  &.flat:not(.toggle):active,
  &:not(.record-button):not(.solo-button).toggle:active,
  &.text-button:active {
    background-color: $accent_bg_color;
  }

  &:not(.record-button):not(.solo-button):checked {
    background-color: $accent_color;
  }

  &.toggle {
    &.record-button {
      &:checked {
        background-color: #ED2939;
      }
      &:active {
        background-color: #FF2400;
      }
    }
    &.solo-button {
      &:checked {
        background-color: $darkish_green;
      }
      &:active {
        background-color: $matcha;
      }
    }
  }
}

arranger-bg,
treeview.view,
listview.view,
columnview.view,
list row,
timeline-minimap-bg,
list
{
  background-color: $bg_darker_variant1;
}

track-grid:selected,
channel:selected,
region:selected,
chord:selected,
marker:selected,
scale-object:selected,
midi-note:selected
velocity:selected,
automation-point:selected
{
  background-color: $selection_color;
}

channel-slot:selected,
channel-send:selected
{
  background-color: $light_blueish;
}

filechooser button:checked,
filechooser button:active
{
  border-color: $selection_color;
}

track-grid:hover,
region:hover,
chord:hover,
scale-object:hover,
marker:hover,
channel-slot:hover:not(:selected),
channel-send:hover:not(:selected),
ruler-playhead:hover,
arranger-playhed:hover,
automation-point:hover
{
  background-color: $hover_color;
}

.inspector expander-box,
.inspector two-col-expander-box,
modulator-view two-col-expander-box
{
  margin: 4px;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  /* FIXME use predefined colors */
  border-color: #555555;

  button {
    &.toggle,
    &.popup,
    &:not(.flat) {
      background-color: $bg_light_variant2;
    }

    &:hover {
      background-color: $bg_lighter_variant1;
    }
  }
}

/* curve the bottom edges of the fader section
 * in the inspector */
.inspector .fader-controls-expander buttonbox
{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* make mono switch smaller */
.track-input-expander button.toggle
{
  padding-left: 4px;
  padding-right: 4px;
}

.inspector expander-box >button,
.inspector two-col-expander-box>button
{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

channel expander-box>button
{
  /*border-top-left-radius: 6px;*/
  /*border-top-right-radius: 6px;*/
}

channel expander-box
{
  /*margin: 5px;*/
  border-style: none;
  border-width: 2px;
  border-radius: 8px;
  /* FIXME use predefined colors */
  border-color: #BBBBBB;
}

channel button.flat
{
  padding-left: 3px;
  padding-right: 3px;
}

.piano_roll_key_box,
.chord_key
{
  border-style: solid;
  border-bottom-width: 1px;
  border-color: gtkalpha(grey, 0.3);
}

/* blend with header box on the right */
.header notebook {
  border-right: 0px;
}

/* make the header box on the right match the
 * style of the notebook */
.header > box {
  border-top: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-style: solid;
  /* from matcha theme */
  border-color: rgba(0, 0, 0, 0.2);

  > box {
    border-top: 1px;
    border-style: solid;
    border-color: #1b1b1b;
  }
}

.header label,
.splash label,
statusbar {
  font-size: 10.5pt;
}

center-dock > paned > paned > paned > separator {
  background-color: gtkalpha(white, 0.08);

  &:hover {
    background-color: gtkalpha(white, 0.12);
  }
}

.thick-separator
{
  min-height: 2px;
  min-width: 2px;
}

track-lane,
automation-lane
{
  border-style: solid;
  border-top-width: 2px;
  border-color: gtkalpha(grey, 0.3);
}

.section_heading,
.port-group-lbl
{
  font-weight: bold;
  font-size: small;
}

.channel_label
{
  font-size: small;
}

.channel_label_smaller
{
  font-size: smaller;
}

.route_target_selector
{
  padding-left: 1px;
  padding-right: 1px;
}

/* statckswitcher in the inspector */
stackswitcher button image
{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}

textview {
  font-family: Monospace;
  font-size: 11pt;
}

/* button without padding */
.mini-button
{
  padding: 0px;
}

.small-button
{
  padding: 3px;
}

.left-of-ruler-box button
{
  min-width: 24px;
}

.inspector_label
{
  font-size: small;
}

/* arrow button */
.button-with-menu button
{
  padding: 0;
  border-width: 0;
  min-height: 24px;
}

/* make dock tab height */
left-dock-edge notebook tab,
right-dock-edge notebook tab
{
  min-height: 24px;
}

/* make snap grid popover buttons small */
popover.snap-grid-popover button.note-type {
  padding: 0px 4px 0px 4px;
}

/* to be used on currently selected part of the UI
 * (e.g., timeline, tracklist, etc.) */
.selected-element {
  border: 2px solid gtkalpha(#ccc, 0.4);
  padding: 1px;
  border-radius: 3px;
}

.selectable-element {
  padding: 3px;
}

label.small-vertical-lbl {
  font-family: sans-serif;
  font-size: 6pt;
}

headerbar {
  background-color: $bg_darker_variant2;
}

/* this is used in adwaita preferences window */
.header .title,
.header > box,
.boxed-list box {
  background-color: transparent;
  border-color: transparent;
}

/* make channel tint look better */
channel button:not(:checked),
folder-channel button:not(:checked) {
  background-color: transparent;
}

channel button:hover,
channel menubutton:hover,
channel button.toggle:hover,
folder-channel button:hover,
folder-channel menubutton:hover,
folder-channel button.toggle:hover {
  background-color: $hover_color;
}

viewswitcher stack,
event-viewer stack,
dropdown stack,
dropdown stack:hover,
dropdown stack row,
dropdown stack row:hover,
row.combo > box.header > box > listview,
row.combo > box.header > box > listview > row {
  background-color: transparent;
}

.main-toolbar-view-switcher button {
  background-color: transparent;
}

/* context menus */
popover {
  accelerator {
    font-size: small;
    color: $bright_orange;
  }
}
